body{
    background: rgb(46, 152, 190);
}

header{
    color: rgb(0, 0, 0);
    text-align: center;
}
section{
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.748);
}

footer{
    padding-top: 30px;
    text-align: center;
    color: aliceblue;
    font-style: italic;
}
div#foto{
    text-align: center;
}
div#res{
    text-align: center;
}